<h2>La page "Ajouter BD"</h2>
<br />

<h3>L'écran initial : quand on a cliqué sur le menu</h3>
<br />
<img alt="Ajouter BD, écran initial" src="@{'/public/images/addBd_Initial.PNG'}" width="100%" />
<br />
<p>
</p>

<p>
Ci-dessous le code du controleur  : <code>BookCtrl</code>
</p>
<pre class="prettyprint">
</pre>


<h3>Un peu de dynamisme : le titre de la nouvelle série joue a cache cache !</h3>
<br />
<img alt="Sous-Menu Tous" src="@{'/public/images/addBd_SelectedSerie.PNG'}" width="100%" />
<br />
<p>
</p>


<h3>Votre mission si vous l'acceptez : passer la validation</h3>
<br />
<img alt="Sous-Menu Tous" src="@{'/public/images/addBd_ValidationError.PNG'}" width="100%" />
<br />
<p>
</p>

<h3>Félicitations : la BD est créée, on recommence ?</h3>
<br />
<img alt="Sous-Menu Tous" src="@{'/public/images/addBd_WellDone.png'}" width="100%" />
<br />
<p>
</p>

