<h2>Play!Framework</h2>
<p>Avant de commencer à plonger dans le détail ou le code du projet <strong>AusyPlay</strong>, nous vous proposons une rapide présentation
de l'outil sous-jacent : <strong>Play!Framework</strong> agrémenté de quelques unes des raisons qui nous ont poussés à nous y intéresser.</p>

<h3>Présentation</h3>
<p>
<strong>Play!Framework</strong> est un framework de développement d'applications web 
<a rel="twipsy" href="http://en.wikipedia.org/wiki/Stateless_protocol" target="_blank" data-original-title="Chaque accès au server est une transaction indépendante et ne tient pas compte des accès précédents">StateLess</a>. 
L'intéret majeur de cet outil est d'offrir une productivité élevée aux développeurs de par sa simplicité et sa facilité d'accès.
</p>
<p>
Play! fournit un cadre de développement complet allant de la vue à la persitence des données. De plus, Play! propose de nombreux modules, natifs ou 
créés par la communauté, permettant d'enrichir votre application selon vos besoins.
</p>
<p>
Play! est basé sur le principe de 
<a rel="twipsy" href="#" target="_blank" data-original-title="Respecter une convention plutôt que de devoir fournir une configuration" data-placement="below">
Convention over Configuration</a> ce qui limite grandement (voire supprime) les longs fichiers de configuration XML que vous connaissez peut-être.
</p>

<div class="alert-message block-message info">
<p>
<span class="label notice mgr">Note</span> Bien que Play! soit un framework MVC basé sur la JVM, il n'est pas pour autant un framework JEE. En effet, 
il n'implémente pas la norme Servlet. Ainsi, une application Play! ne nécessite pas de serveur d'application ou de conteneur de Servlet, un serveur HTTP suffit.
Qu'est-ce que cela change concrètement ? Et bien pas grand-chose. Votre application pourra générer un WAR classique, que vous pourrez déployer 
(en mode explosé uniquement) dans la plupart des serveurs d'applications.
</p>
</div>

<div class="row">
	<div class="span-one-third">
		<h3>Points forts</h3>
		<ol>
			<li>Possibilité de démarrer un projet en deux lignes de commande</li>
			<li>Possibilité de générer la base de données à partir de vos objets <em>model</em></li>
			<li>Rechargement à chaud des modifications</li>
			<li>Messages d'erreur plus explicites</li>
			<li>...</li>
		</ol>
	</div>
	
	<div class="span-one-third">
		<h3>Points faibles</h3>
		<ol>
			<li>La documentation n'est pas toujours au rendez-vous dès qu'on sort des sentiers battus</li>
			<li>Il est encore assez peu connu du monde de l'entreprise</li>
		</ol>
	</div>
	
	<div class="span-one-third">
		<h3>Productivité</h3>
		<p>Si l'on devait synthétiser à l'extême en ne gardant qu'un seul atout de Play!Framework ce serait celui-là : 
		<strong>Productivité</strong>.<br /> En effet, un énorme travail a été fait pour permettre aux développeurs d'être
		le plus efficace possible en réduisant aux maximums les tâches à faible valeur ajoutée et les tâches 
		répétitives. Et c'est à mon sens ce qui le rend si attractif.
		</p>
	</div>
</div>